.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    background: linear-gradient(0deg, rgb(78, 76, 76), rgb(0, 0, 0));

    padding: 0 0;
}

.nav-left img {
    width: 90px;
    height: auto;
    margin: 1px 15px;
}

.nav-mid ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 10px;
    padding: 0;
}

.nav-mid ul .active {
    background-color: #b71631; /* Add background to active item */
    border-radius: 20px;
}

.nav-mid ul a {
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    height: 68px;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.nav-mid ul a:hover {
    background-color: rgba(250, 250, 250, 0.3); /* Slightly transparent background */
}

.nav-mid ul img {
    width: 28px;  /* Adjust the size of the icons */
    height: auto;
}

.nav-right img{
    width: 40px;
    margin: 20px 30px 10px 40px;
    border-radius: 80px;
}








